#coin-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(---secondary-color);
    grid-column: 1;
    grid-row: 1;
}

.modal-container {
    grid-column: 1;
    grid-row: 1;
    z-index: 999;
    display: none;
    background-color: var(---secondary-color);
}

.add-alert-modal {
    display: grid;
    grid-template-columns: 75px 75px;
    grid-column-gap: 10px;
    grid-row-gap: 7px;
}

.price-alert {
    display: grid;
    grid-template-columns:
        minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content)
        auto;
    grid-column-gap: 6px;
}
.price-alert > input {
    width: 80px;
}
.add-alert-modal .btn {
    width: 60px;
}
.coin-details-alerts {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10px;
    grid-row-gap: 7px;
    margin: 6px;
    justify-content: center;
}
.coin-logo-big {
    display: none;
    width: 3rem;
    height: auto;
    vertical-align: middle;
    margin: 0 auto;
}
.remove-btn {
    width: 90px;
}
#add-amount-details {
    width: 140px;
}
.details-data-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#details-data,
.market-data-details {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 7px;
    margin: 6px;
}
.k {
    align-self: center;
}
.v {
    text-align: right;
    justify-self: right;
}
.details-shareM {
    align-self: center;
}
