#coin-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-logo-big {
    display: none;
    width: 3rem;
    height: auto;
    vertical-align: middle;
    margin: 0 auto;
}

.remove-btn {
    padding: 3px 6px 3px 6px;
    margin: 8px 4px 2px 4px;
    background: linear-gradient(cyan, #9fa2c3);
    color: black;
    text-align: center;
    width: 90px;
}

#add-amount-details {
    width: 140px;
}

#details-data {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 7px;
    margin: 6px;
}

#details-data .k {
    align-self: center;
}

#details-data .v {
    text-align: right;
    justify-self: right;
}

.details-shareM {
    align-self: center;
}
