#coin-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(---secondary-color);
    grid-column: 1;
    grid-row: 1;
}

.modal-container {
    grid-column: 1;
    grid-row: 1;
    z-index: 999;
    display: none;

    justify-content: center;
    align-content: center;
    background-color: #092525a8;
}

.add-alert-modal {
    display: grid;
    grid-template-columns: 75px 75px;
    grid-column-gap: 10px;
    grid-row-gap: 7px;
    background-color: var(---secondary-color);
    padding: 20px 32px;
}

.alert-title {
    justify-self: center;
    display: flex;
    align-items: center;
}

.alert-bell {
    height: 28px;
}

.trashcan {
    height: 24px;
    width: 24px;
}

.top-icons {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
}

.price-alert {
    display: grid;
    grid-template-columns:
        minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content)
        auto;
    grid-column-gap: 6px;
}
.price-alert > input {
    width: 80px;
}
.add-alert-modal .btn {
    width: 60px;
}
.coin-details-alerts {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10px;
    grid-row-gap: 7px;
    margin: 6px;
    justify-content: center;
}
.coin-logo-big {
    display: none;
    width: 3rem;
    height: auto;
    vertical-align: middle;
    margin: 0 auto;
}
.remove-btn {
    width: 90px;
}
#add-amount-details {
    width: 140px;
}

.details-data-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

@media (min-width: 700px) {
    .details-data-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #details-data {
        grid-column: 2;
        grid-row: 1;
    }
    .market-data-details {
        grid-column: 1;
        grid-row: 1;
        margin-top: 3rem !important;
    }
    .coin-details-alerts-container {
        grid-column: 3;
        grid-row: 1;
        margin-top: 3rem;
    }
}

#details-data,
.market-data-details {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 7px;
    margin: 6px;
}
.k {
    align-self: center;
}
.v {
    text-align: right;
    justify-self: right;
}
.details-shareM {
    align-self: center;
}
